* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: lightgray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Broadcast Card */
.broadcast-wrapper {
    background-color: lightsalmon;
    margin-block: 10rem;
    height: 100%;
    width: 40rem;
    padding: .5rem 2rem;
}

/* Broadcast Card Header */
.broadcast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Broadcast Card Content */
.broadcast-content {
    /* margin-block: 3rem; */
    margin-inline: auto;
    text-align: center;
}

.broadcast-content p {
    color: honeydew;
}

/* Typography */
h1 {
    color: white;
    font-weight: 700;
    font-size: 32px;
}

/* Icons */
#settings-modal-cog {
    cursor: pointer;
}
#settings-modal-cog > * {
    font-size: 32px !important;
}


/* Language Dropdown */
.dd-select {
    background-color: transparent !important;
    border: none !important;
    width: 100px !important;
}
.dd-options {
    background-color: transparent !important;
    width: 100px !important;
    border: none !important;
    box-shadow: none !important;
}
.dd-option {
    border: none !important;
}
.dd-option-selected {
    background-color: transparent !important;
}
.dd-option:hover {
    background-color: whitesmoke !important;
}


#commodity-price {
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-block: 0;
    padding-block: 0;
}
.tradingview-wrapper {
    display: flex;
    justify-content: center;
    margin-block: 1rem;
}

iframe {
    width: 500px !important;
    height: 300px !important;
}

